## Python sentence

https://wikidocs.net/7021

In [1]:
#.01

print("Hello python")

Hello python

In [4]:
#.02

print("Mary's cosmetics")

Mary's cosmetics

In [5]:
#.03

print('신씨가 소리질렀다."도둑이야!"')

신씨가 소리질렀다."도둑이야!"

In [7]:
#.04

print('"C:\windows"')

"C:\windows"

In [15]:
#.05

print("Hello.\nWhat's your\t\tname.")

#\n - enter 
#\t - space

Hello.
What's your		name.

In [16]:
#.06

print("Monday", "Tuesday")

Monday Tuesday

In [19]:
#.07

print("naver;kakao;samsung")
print("naver","kakao","samsung", sep = ";")

naver;kakao;samsung
naver;kakao;samsung

In [20]:
#.08
print("naver","kakao","samsung", sep = "/")

naver/kakao/samsung

In [30]:
#.09
print("Frist");print("Second")
print("Frist",end="-");print("Second",end=".")

Frist
Second
Frist-Second.

In [31]:
#.10
print(5/3)

1.6666666666666667

### Variable

In [32]:
#.11

Samsung = 50000
print(Samsung*10)

500000

In [46]:
#.12
Total = 298000000000000
Price = 50000
Per = 15.79

print("Total = {}\nPrice = {}\nPer = {}".format(Total,Price,Per))

Total = 298000000000000
Price = 50000
Per = 15.79

In [67]:
#.13
s = "Hello"
t = "Python"

print(s+"!",t)
print(s+"!", end=" "); print(t)

Hello! Python
Hello! Python

In [68]:
#.14
print(2+2*3)

8

In [69]:
#.15
a = "132"
print(a, type(a))

132 <class 'str'>

In [74]:
#.16
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))
print(num_int+1)

720 <class 'int'>
721

In [76]:
#.17
num = 100
num_str = str(num)

print(num_str, type(num_str))

100 <class 'str'>

In [77]:
#.18
float_str = "15.79"
float_int = float(float_str)
print(float_int,type(float_int))

15.79 <class 'float'>

In [80]:
#.19
year_str = "2023"
year = int(year_str)

print(year+1, year+2,year+3, type(year))

2024 2025 2026 <class 'int'>

In [81]:
#.20
Month = 48584
print(Month*36)

1749024

## String

1. replace
2. capitalize
3. upper( ) - lower( )
4. endswith( ) - startwith( )
5. strip - lstrip - rstrip

In [94]:
#.21
letters = 'python'
print(letters[0],letters[2])

p t

In [99]:
#.22
license_plate = "24G 2210"
print(license_plate[4:])
print(license_plate[-4:])

2210
2210

In [102]:
#.23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [109]:
#.24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [131]:
#.25
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

010 1111 2222

In [130]:
#.26
phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

01011112222

In [132]:
#.27
url="http://sharebook.kr"
print(url[-2:])

url_1 = url.split(".") # 문단을 구분을 정하는 - split
print(url_1[-1])

kr
kr

In [133]:
#.28
lang = "python"
lang[0] = "A"
print(lang)

# TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [134]:
#.29
string = "abcdfe2a345a32a"
print(string.replace("a","A"))

Abcdfe2A345A32A

In [135]:
#.30
string = "abcd"
print(string.replace("b","B"))

aBcd

In [136]:
#.31
a = "3"
b = "4"
print(a+b)

34

In [137]:
#.32
print("Hi"*3)

HiHiHi

In [139]:
#.33
print("-"*80)

--------------------------------------------------------------------------------

In [146]:
#.34
t1 = "python"
t2 = "java"
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [168]:
#.35-37
name1 = "LJY"
age1 = 27
name2 = "KSY"
age2 = 6

print("Name : {} age : {}\nName : {} age : {}".format(name1,age1,name2,age2))

Name : LJY age : 27
Name : KSY age : 6

In [177]:
#.38
Up_Stock = "5,969,782,550"
Up_Stock_01 = Up_Stock.replace(",","")
Up_Stocks = int(Up_Stock_01)
print(Up_Stocks, type(Up_Stocks))

5969782550 <class 'int'>

In [181]:
#.39
Part = "2020/03(E) (IFRS conect)"
print(Part[:7])

Part_01 = Part.split(" ")
print(Part_01[0])

2020/03
2020/03(E)

In [182]:
#.40
data = "  Samsung  "
print(data.strip())

Samsung

In [189]:
#.41
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [190]:
#.42
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [193]:
#.43
str = "hello"
print(str.capitalize())
print(str.replace("h","H"))

Hello
Hello

In [208]:
#.44
file_name = "Report.xlsx"
print(file_name.endswith("xlsx"))

True

In [202]:
#.45
file_name = "Report.xlsx"
file_name.endswith(("xls"))

False

In [196]:
#.46
file_name = "2020_Report.xlsx"
print(file_name.startswith("2020"))

True

In [209]:
#.47
a = "Hello world"
print(a.split())

['Hello', 'world']

In [212]:
#.48
ticker = "btc_krw"
print(ticker.split("_"))

['btc', 'krw']

In [214]:
#.49
data = "2020-05-01"
print(data.split("-"))

['2020', '05', '01']

In [217]:
#.50
data = "   039490    "
print(data.rstrip());print(data.lstrip())

   039490
039490

## List

1. join
2. sort - sorted

In [234]:
#.51
movie = ['a', 'b', 'c']

In [235]:
#.52
movie.append('d')
print(movie)

['a', 'b', 'c', 'd']

In [236]:
#.53
movie.insert(0,"0")
print(movie)

['0', 'a', 'b', 'c', 'd']

In [237]:
#.54
del movie[-1]
print(movie)

['0', 'a', 'b', 'c']

In [238]:
#.55
del movie[-1]
del movie[-1]
print(movie)

['0', 'a']

In [240]:
#.56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Pytjon", "R", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Pytjon', 'R', 'C#']

In [244]:
#.57
nums = [1,2,3,4,5,6,7]
print("max : ", max(nums));print("min : ",min(nums))

max :  7
min :  1

In [246]:
#.58
nums = [1,2,3,4,5]
print("sum : ", sum(nums))

sum :  15

In [247]:
#.59
cook = ["Pizza","Gimbam","Mando","chicken","Sosege","Ramen","Bingsu","Duckbokki"]
print(len(cook))

8

In [249]:
#.60
nums = [1,2,3,4,5]
average = sum(nums) / len(nums)
print(average)

3.0

In [254]:
#.61
price= ['20180728',100,130,140,150,160,170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [259]:
#.62
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [263]:
#.63
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [264]:
#.64
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [268]:
#.65
interest = ["samsung", "LG", "Naver"]
print(interest[::2])
print(interest[0], interest[2])

['samsung', 'Naver']
samsung Naver

In [272]:
#.66
interest = ["samsung", "LG", "Naver","SK","Kakao"]
print(interest)
print(interest[0],interest[1],interest[2],interest[3],interest[4])
print(" ".join(interest))

['samsung', 'LG', 'Naver', 'SK', 'Kakao']
samsung LG Naver SK Kakao
samsung LG Naver SK Kakao

In [276]:
#.67
interest = ["samsung", "LG", "Naver","SK","Kakao"]
print("/".join(interest))

samsung/LG/Naver/SK/Kakao

In [277]:
#.68
interest = ["samsung", "LG", "Naver","SK","Kakao"]
print("\n".join(interest))

samsung
LG
Naver
SK
Kakao

In [280]:
#.69
string = "Samung/LG/Naver"
interest = list(string.split("/"))
print(interest, type(interest))

['Samung', 'LG', 'Naver'] <class 'list'>

In [286]:
#.70
data = [2,3,4,5,6,1]
a = sorted(data)
print(a)

[1, 2, 3, 4, 5, 6]

## Tupple
1. Unpacking ( Same element values )
2. Start expression ( Exception Unpacking )

In [298]:
#.71
my_variable = ()
print(my_variable, type(my_variable ))

() <class 'tuple'>

In [299]:
#.72
movie = ('a', 'b', 'c')
print(movie)

('a', 'b', 'c')

In [305]:
#.73
tupple = (1)
print(tupple, type(tupple))

tupple = (1,)
print(tupple, type(tupple))

1 <class 'int'>
(1,) <class 'tuple'>

In [306]:
#.74
t = (1,2,3)
t[0] = 'a'
# TypeError: 'tuple' object does not support item assignment
# 튜플은 원소(elements) 의 값을 변경할 수 없음

TypeError: 'tuple' object does not support item assignment

In [308]:
#.75 - 76
t = ("a","b","c")
print(t, type(t))

#원소 값의 변경을 위해서는 새롭게 만들어야 한다.

t = ("A","B","c")
print(t, type(t))

('a', 'b', 'c') <class 'tuple'>
('A', 'B', 'c') <class 'tuple'>

In [309]:
#.77
interest = ("Samsung", "LG", "SK")
list(interest)

['Samsung', 'LG', 'SK']

In [311]:
#.78
interest = ["Samsung", "LG", "SK"]
tuple(interest)

('Samsung', 'LG', 'SK')

In [312]:
#.79 - UNPACIKNG
temp = ("apple", "banna", "cake")
a,b,c = temp
print(a,b,c)

apple banna cake

In [328]:
#.80
a = tuple(range(2,100,2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [331]:
#.81 - Exception unpacking
a,b,*c = (0,1,2,3,4,5)
print(a);print(b);print(c)

a,*b,c = (0,1,2,3,4,5)
print(a);print(b);print(c)

*a,b,c = (0,1,2,3,4,5)
print(a);print(b);print(c)

0
1
[2, 3, 4, 5]
0
[1, 2, 3, 4]
5
[0, 1, 2, 3]
4
5

In [335]:
#.82 - 83
scores = (8.8, 8.9, 9.2, 9.3, 9.7, 9.9, 7.8, 1.5, 3.5, 7.9)

a,b,*valid_score = scores
print(a);print(b);print(valid_score)

print()

scores = [8.8, 8.9, 9.2, 9.3, 9.7, 9.9, 7.8, 1.5, 3.5, 7.9]
a,*valid_score,b = scores
print(a);print(valid_score);print(b)

8.8
8.9
[9.2, 9.3, 9.7, 9.9, 7.8, 1.5, 3.5, 7.9]

8.8
[8.9, 9.2, 9.3, 9.7, 9.9, 7.8, 1.5, 3.5]
7.9

## Dictionary

1. update
2. zip - dict

In [341]:
#.84
dic = {}
print(dic, type(dic))

{} <class 'dict'>

In [342]:
#.85
dic = {"Merona":1000, "Polapo":1200, "Babamba":1800}
print(dic)

{'Merona': 1000, 'Polapo': 1200, 'Babamba': 1800}

In [345]:
#.86
dic["Shark"]=1200
dic["Wrold"]=1500
print(dic)

{'Merona': 1000, 'Polapo': 1200, 'Babamba': 1800, 'Shark': 1200, 'Wrold': 1500}

In [347]:
#.87
print("Merona Price : ", dic["Merona"])

Merona Price :  1000

In [349]:
#.88
dic["Merona"]=1300
print(dic)

{'Merona': 1300, 'Polapo': 1200, 'Babamba': 1800, 'Shark': 1200, 'Wrold': 1500}

In [350]:
#.89
del dic["Wrold"]
print(dic)

{'Merona': 1300, 'Polapo': 1200, 'Babamba': 1800, 'Shark': 1200}

In [351]:
#.90

In [354]:
#.91
inventory = {"Merona":[300,20], "Bibibig":[400,3], "Shark_bar":[250,100]}
print(inventory)

{'Merona': [300, 20], 'Bibibig': [400, 3], 'Shark_bar': [250, 100]}

In [358]:
#.92
print(inventory["Merona"][0],"won")

300 won

In [359]:
#.93
print(inventory["Merona"][1])

20

In [361]:
#.94
inventory["World"]=[500,7]
print(inventory)

{'Merona': [300, 20], 'Bibibig': [400, 3], 'Shark_bar': [250, 100], 'World': [500, 7]}

In [364]:
#.95
print(inventory.keys())

dict_keys(['Merona', 'Bibibig', 'Shark_bar', 'World'])

In [365]:
#.96
print(inventory.values())

dict_values([[300, 20], [400, 3], [250, 100], [500, 7]])

In [366]:
#.97
dic = {"Merona":1000, "Polapo":1200, "Babamba":1800, "Tankboy":1200}
print(sum(dic.values()))

5200

In [369]:
#.98
new_dic = {"Bingsu":2700, "Amatna":1000}
dic.update(new_dic)
print(dic)

{'Merona': 1000, 'Polapo': 1200, 'Babamba': 1800, 'Tankboy': 1200, 'Bingsu': 2700, 'Amatna': 1000}

In [370]:
#.99
keys = ("apple","pear","peach")
vals = (300,250,400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [371]:
#.100
date = ['09/08', '06/27', '09/27', '02/12']
close_price = [10500, 10300, 10100, 1000, 11000]

close_table = dict(zip(date,close_price))
print(close_table)

{'09/08': 10500, '06/27': 10300, '09/27': 10100, '02/12': 1000}